<% layout('./index.ejs') %>

<div class="main_container">
    <div class="col-md-2">
        <div class="left_col" style="border: 1px solid black">
            <div class="logo">
                <span>
                                    <img src="/images/thc.jpg" width="70px" height="auto">
                    Hustlers</span>
            </div>
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <a href="/userProfile"><i class="fa fa-user"></i> Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10" style="border: 1px solid green">
        <div class="top_nav" style="border: 1px solid black">
            <div class="nav_menu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/logout" style="min-height: 45px;"><i class="fa fa-sign-out pull-right"> Logout</i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right_col">
            <%- body %>
        </div>
    </div>

</div>