<% layout('./dashboard.ejs') %>

<div class="page-title">
    <h3>Edit Profile</h3>
</div>
<div class="row" ng-controller="editProfileCtrl">
    <script>
        var doc = <%- JSON.stringify(doc) %>
    </script>
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Edit User Profile
                    <span style="float: right;"><a href="/userProfile"
                                                   class="btn-sm btn-warning">View Profile</a></span>
                </h4>
            </div>
            <div class="x_content">
                <div class="col-md-3">
                    <div class="user-image">
                        <img src="/images/user.png" width="150px" height="auto">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile_data">
                        <form name="edit-User" ng-submit="editUser()">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" ng-model="a.name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email" ng-model="a.email"
                                       ng-disabled="a.email">
                            </div>

                            <div class="form-group">
                                <label>DOB</label>
                                <div class="">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}" autocomplete="off"
                                           ng-model="a.DOB"
                                           is-open="opened" required/>
                                    <div class="date">
                            <span class="btn-group">
                          <a type="button" class="btn btn-white"
                             ng-click="open($event)">
                               <i class="fa fa-calendar"></i>
                          </a>
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <input type="text" class="form-control" name="status" ng-model="a.status" required>
                            </div>
                            <button type="submit" class="btn btn-success btn-sm">Update</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
