<!doctype html>
<html ng-app="hustler">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Hustler Collective</title>
    <%- include files/cssFiles.ejs %>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            /*font-family:  "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
            font-size: 14px;
            overflow: hidden;*/
            color: #73879C;
            background: #2A3F54;
            font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.471;
        }
    </style>
</head>
<body ng-cloak>
<div class="container">

    <%- body %>
</div>
<% include files/jsFiles.ejs %>

</body>
</html>
