<% layout('./index.ejs') %>
<div class="landing">
    <div class="welcome-dom text-center">
        <h1> Welcome To Hustler Club</h1>

        <p>Demo for Login or Register </p>
        <div class="col-md-12">
            <img src="/images/substract.png">
        </div>
        <div class="">
            <a href="/login" class="btn btn-default"><span class="fa fa-unlock"></span>
                Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user-plus"></span>
                Register</a>
        </div>

    </div>

</div>



