<% layout('./index.ejs') %>

<div class="login " ng-controller="signUpCtrl">
    <div class="login-wrapper">
        <div class="">

            <h1><span class="fa fa-sign-in"></span> Login</h1>
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-warning btn-sm">Login</button>
            </form>

            <hr>
            <p>Need an account? <a href="/signup"><i class="fa fa-user-plus"></i> Signup</a></p>
            <p>Or go <a href="/"><i class="fa fa-home"></i> home</a>.</p>

        </div>

    </div>

</div>


