<% layout('./index.ejs') %>

<div class="login " ng-controller="signUpCtrl">
    <div class="login-wrapper">
        <div class="">

            <h1><span class="fa fa-sign-in"></span> Register</h1>
            <!-- LOGIN FORM -->
            <form ng-submit="submitData()" autocomplete="off">
                <!--<div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" ng-model="a.name" required >
                </div>-->
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" ng-model="a.email" required>
                </div>
                <!--<div class="form-group">
                    <label>Status</label>
                    <input type="text" class="form-control" name="status" ng-model="a.status" required>
                </div>
                <div class="form-group">
                    <label>DOB</label>
                    <div class="">
                        <input type="text" class="form-control"
                               uib-datepicker-popup="{{format}}" autocomplete="off"
                               ng-model="a.DOB"
                               is-open="opened" required/>
                        <div class="date">
                            <span class="btn-group">
                          <a type="button" class="btn btn-white"
                             ng-click="open($event)">
                               <i class="fa fa-calendar"></i>
                          </a>
                    </span>
                        </div>
                    </div>
                </div>-->

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" ng-model="a.password" required>
                </div>

                <button type="submit" class="btn btn-success btn-sm">Signup</button>
            </form>

            <hr>
            <p>Already have an account? <a href="/login"><i class="fa fa-unlock"></i> Login</a></p>
            <p>Or go <a href="/"><i class="fa fa-home"></i> home</a>.</p>

        </div>

    </div>

</div>

