<% layout('./dashboard.ejs') %>

<div class="page-title">
    <h3>User Profile</h3>

</div>
<div class="row" ng-controller="userProfileCtrl">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>User Profile
                    <span style="float: right;"><a href="/editUser/{{a._id}}"
                                                   class="btn-sm btn-warning">Edit User</a></span>
                </h4>
            </div>
            <div class="x_content">
                <div class="col-md-3">
                    <div class="user-image">
                        <img src="/images/user.png" width="150px" height="auto">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile_data">
                        <p class="text-uppercase">{{a.name}}</p>
                        <p><i class="fa fa-envelope-o" uib-tooltip="Email Address"></i> {{a.email}}</p>
                        <p><i class="fa fa-child" uib-tooltip="Date Of Birth"></i> {{a.DOB |date:"dd MMM yyyy"}}</p>
                        <p>Status: {{a.status}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
