
.landing {
    background-image: url("/images/big-image.jpg");
    min-height: 650px;
    margin-top: -20px;

}

.container {
    display: block;
    min-height: 650px;
    width: 100%;
    padding: 0px;
    overflow-y: hidden;
    margin: 0px !important;
}

.welcome-dom {
    color: white;
    padding: 160px 0 0 0;
}

.welcome-dom h1 {
    font-size: 50px;
}

.button-dom {
    padding: 30px;
}

.login {
    background-color: #F7F7F7;
    padding-top: 40px;
    height: 650px;
}

.login-wrapper {
    right: 0;
    margin: 0% auto 0;
    max-width: 350px;
    position: relative;
}

.date {
    float: right;
    margin-top: -35px;
}

.left_col {
    font-size: 14px;
    background: rgb(42, 63, 84);
    min-height: 100%;
}

.nav_menu {
    float: left;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    background: rgb(237, 237, 237);
    border-bottom: 1px solid rgb(217, 222, 228);
    min-height: 45px;
}

.main_container {
    display: flex;
    min-height: 660px;
}

.main_container .col-md-2 {
    padding: 0px;
}

.main_container .col-md-10 {
    padding: 0px;
    background-color: white;
}

.logo {
    font-size: 30px;
    color: white;
    padding: 0px 15px;
}

.menu_section {
    margin-top: 30px;
}

.nav.side-menu > li > a {
    color: #E7E7E7;
    font-weight: 500;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #5fd1c7;
}

.right_col {
    padding: 10px 20px 0;
    min-height: 100%;
    background: #F7F7F7;
}

.navbar-right {
    float: right !important;
    margin-right: 0px;
}

.page-title {
    width: 100%;
    height: 65px;
    padding: 10px 0;
}

.x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    opacity: 1;
    transition: all .2s ease;
    position: relative;
    margin-top: 20px;
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
}

.x_content {
    padding: 0 5px 6px;
    clear: both;
    margin-top: 5px;
}

.profile_data {
    font-size: 23px;
    padding-top: 10px;
}

.user-image {
    padding: 15px;
}

.modal .modal-header .modal-title {
    font-size: 20px;
    line-height: 100%;
    color: #695555 !important;
    margin: 0;
    font-weight: 500 !important;
}

.modal .modal-header {
    border-radius: 4px 4px 0 0;
    background: #5fd1c7;
    padding: 10px !important;
    height: 40px;
    border-bottom: 1px solid black;
}

span.close-button {
    float: right;
    margin-top: -25px;
    font-size: 20px;
}