<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Update Info</h3>
    <!--<span class="close-button"><i ng-click="cancel()" class="fa fa-close"></i></span>-->
</div>

<div class="modal-body modal-body1" id="modal-body">
    <form ng-submit="submitData()" autocomplete="off">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" ng-model="a.name" placeholder="Enter Name"
                           required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>DOB</label>
                    <div class="">
                        <input type="text" class="form-control"
                               uib-datepicker-popup="{{format}}" autocomplete="off"
                               ng-model="a.DOB"
                               placeholder="Select Date of Birth"
                               is-open="opened" required/>
                        <div class="date">
                    <span class="btn-group">
                  <a type="button" class="btn btn-white"
                     ng-click="open($event)">
                       <i class="fa fa-calendar"></i>
                  </a>
            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Status</label>
                    <input type="text" class="form-control" name="status" placeholder="Enter Status" ng-model="a.status"
                           required>
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-success btn-sm">Update</button>
    </form>
</div>
