<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet"
      href="/bower_components/bootstrap/dist/css/bootstrap.css"
      type="text/css"/>
<link rel="stylesheet"
      href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"
      type="text/css"/>
<link rel="stylesheet"
      href="/js/fontAwesome.css"
      type="text/css"/>
<link rel="stylesheet"
      href="/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css"
      type="text/css"/>
<link rel="stylesheet"
      href="/js/customCss.css"
      type="text/css"/>
